.field-alterar {
    display: flex;

    div {
        display: flex;
        flex-direction: column;

        label {
            font-size: 15px;
            color: #333;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .input-text {
            padding: 6px;
            border-radius: 5px;
            border: 1px solid #cdd8df;
            margin-top: 5px;
            background: #cdd8df3c;
            width: 40%;

            &::placeholder {
                color: rgba(51, 51, 51, 0.252);
            }
        }

        .input-number {
            width: 20%;
        }

        .btn-submit-alterar {
            padding: 10px 30px;
            width: 30%;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
            background: #cdd8df;
            color: white;
            font-weight: bold;

            &:hover {
                transition: 1s;
                background: #2e578b;
            }
            
            &:active {
                transition: 0.1s;
                background: black;
            }
        }
    }
}