.get-field {
  display: flex;
  
  @media screen and (max-width: 800px) {
    & {
      margin-bottom: 0 !important;
    }
  }
  
  div {
    flex-direction: column;
    
    @media screen and (max-width: 800px) {
      & {
        margin-bottom: 15px !important;
      }
    }

    table ~ span {
      font-size: 0.7rem;
      color: #b4bec5;
      margin-left: 10px;
    }

    > span {
      font-size: 1rem;
      color: gray;
    }
  }
}
