.menu {
  width: 13%;
  height: 100vh;
  background: #2e578b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  transition: 1s;
  z-index: 98;

  .position-menu {
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    #btn-logo {
      color: white;
      font-size: 2.2rem;
      text-decoration: none;
      font-weight: bold;
    }

    .btn-menu {
      width: 100%;
      color: #abbcd0;
      font-size: 17px;
      font-weight: 400;
      margin-top: 40px;

      @media screen and (max-width: 800px) {
        & {
          font-size: 21px;
        }
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        > a {
          width: 75%;
          text-decoration: none;

          ul {
            width: 100%;
            border-top: 2px dotted rgb(68, 128, 197);
            padding: 15px 15px 15px 0px;
            display: flex;
            align-items: center;
            user-select: none;

            @media screen and (max-width: 800px) {
              & {
                padding: 25px 25px 25px 0;
              }
            }

            img {
              margin-left: 3px;
              width: 25px;
              margin-right: 10px;
              opacity: 50%;

              @media screen and (max-width: 800px) {
                & {
                  width: 35px;
                }
              }
            }

            p {
              color: white;
              text-decoration: none;
              opacity: 50%;
            }

            &:hover p {
              transition: 1s;
              color: white;
              opacity: 100%;
            }

            &:hover img {
              transition: 1s;
              opacity: 100%;
            }

            &:active {
              transition: 0.1s;
              color: black;
            }
          }
        }
      }

      div:nth-child(1) ul {
        border-top: none;
      }

      .ativo {
        background: #284b77;
        color: white;

        img {
          opacity: 100%;
        }

        p {
          opacity: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    & {
      display: none;
      opacity: 0;
      width: 80%;

      #btn-logo {
        width: 70%;
      }

      .btn-menu {
        font-size: 21px;
      }
    }
  }
}

.menu-mobile-ativo {
  display: flex;
  opacity: 100%;
  animation: start-transition-menu 0.5s linear;

  @keyframes start-transition-menu {
    from {
      transform: translateX(-70px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }
}
