body {
    background: #ebeff3;
    overflow-x: hidden;
}

section, main {
    width: 100%;
    display: flex;
    justify-content: right;
    
    .position-section {
        width: 87%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 800px) {
        & {
            justify-content: center;
    
            .position-section {
                width: 97%;
            }
        }
    }
}
