* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input:not(:-moz-placeholder-shown):invalid {
  border: none;
  outline: 2px solid rgba(255, 40, 40, 0.5294117647);
  animation: shake 0.1s;
  animation-iteration-count: 3;
}

input:not(:placeholder-shown):invalid {
  border: none;
  outline: 2px solid rgba(255, 40, 40, 0.5294117647);
  animation: shake 0.1s;
  animation-iteration-count: 3;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 1px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-5px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

body {
  background: #ebeff3;
  overflow-x: hidden;
}

section, main {
  width: 100%;
  display: flex;
  justify-content: right;
}
section .position-section, main .position-section {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 800px) {
  section, main {
    justify-content: center;
  }
  section .position-section, main .position-section {
    width: 97%;
  }
}

.menu {
  width: 13%;
  height: 100vh;
  background: #2e578b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  transition: 1s;
  z-index: 98;
}
.menu .position-menu {
  height: 92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.menu .position-menu #btn-logo {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu .position-menu .btn-menu {
  width: 100%;
  color: #abbcd0;
  font-size: 17px;
  font-weight: 400;
  margin-top: 40px;
}
@media screen and (max-width: 800px) {
  .menu .position-menu .btn-menu {
    font-size: 21px;
  }
}
.menu .position-menu .btn-menu div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .position-menu .btn-menu div > a {
  width: 75%;
  text-decoration: none;
}
.menu .position-menu .btn-menu div > a ul {
  width: 100%;
  border-top: 2px dotted rgb(68, 128, 197);
  padding: 15px 15px 15px 0px;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 800px) {
  .menu .position-menu .btn-menu div > a ul {
    padding: 25px 25px 25px 0;
  }
}
.menu .position-menu .btn-menu div > a ul svg {
  margin-left: 3px;
  width: 25px;
  margin-right: 10px;
  opacity: 50%;
}
@media screen and (max-width: 800px) {
  .menu .position-menu .btn-menu div > a ul svg {
    width: 35px;
  }
}
.menu .position-menu .btn-menu div > a ul p {
  color: white;
  text-decoration: none;
  opacity: 50%;
}
.menu .position-menu .btn-menu div > a ul:hover p {
  transition: 1s;
  color: white;
  opacity: 100%;
}
.menu .position-menu .btn-menu div > a ul:hover svg {
  transition: 1s;
  opacity: 100%;
}
.menu .position-menu .btn-menu div > a ul:active {
  transition: 0.1s;
  color: black;
}
.menu .position-menu .btn-menu div:nth-child(1) ul {
  border-top: none;
}
.menu .position-menu .btn-menu .active {
  background: #284b77;
  color: white;
}
.menu .position-menu .btn-menu .active svg {
  opacity: 100%;
}
.menu .position-menu .btn-menu .active p {
  opacity: 100%;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
    opacity: 0;
    width: 80%;
  }
  .menu #btn-logo {
    width: 70%;
  }
  .menu .btn-menu {
    font-size: 21px;
  }
}

.menu-mobile-active {
  display: flex;
  opacity: 100%;
  animation: start-transition-menu 0.5s linear;
}
@keyframes start-transition-menu {
  from {
    transform: translateX(-70px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

.fields {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.fields > div {
  width: 95%;
  background: #ffffff;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .fields > div {
    padding: 20px;
    width: 97%;
    margin-bottom: 15px;
  }
}
.fields > div h1 {
  font-weight: normal;
  color: rgb(74, 74, 74);
  font-size: 24px;
}
.fields > div h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #cdd8df;
  margin-top: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .fields > div h1 {
    font-size: 1.2rem;
    width: 93%;
    margin: 0 auto;
  }
  .fields > div h1::after {
    margin-bottom: 15px;
  }
}

.register-field {
  display: flex;
}
.register-field div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .register-field div div {
    width: 95%;
    margin: 0 auto;
  }
}
.register-field div div label {
  font-size: 15px;
  color: #333;
  margin-bottom: 5px;
  margin-top: 15px;
}
.register-field div div .input-text {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #cdd8df;
  margin-top: 5px;
  background: rgba(205, 216, 223, 0.2352941176);
  width: 40%;
}
@media screen and (max-width: 800px) {
  .register-field div div .input-text {
    width: 100%;
  }
}
.register-field div div .input-text::-moz-placeholder {
  color: rgba(51, 51, 51, 0.252);
}
.register-field div div .input-text::placeholder {
  color: rgba(51, 51, 51, 0.252);
}
.register-field div .input-number {
  width: 20%;
}
@media screen and (max-width: 800px) {
  .register-field div .input-number {
    width: 100%;
  }
}
.register-field div .btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  width: 30%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background: #cdd8df;
  color: white;
  font-weight: bold;
}
.register-field div .btn-submit:hover {
  transition: 1s;
  background: #2e578b;
}
.register-field div .btn-submit:active {
  transition: 0.1s;
  background: black;
}
@media screen and (max-width: 800px) {
  .register-field div .btn-submit {
    width: 100%;
    margin-top: 30px;
  }
}
.register-field div .btn-submit > .loader {
  color: #ffffff;
}

.get-field {
  display: flex;
}
.get-field div {
  flex-direction: column;
}
.get-field div table {
  width: 100%;
  margin-top: 30px;
}
@media screen and (max-width: 800px) {
  .get-field div table {
    margin-top: 0;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
  }
}
@media screen and (max-width: 800px) {
  .get-field div table tbody {
    display: flex;
    gap: 3px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .get-field div table tbody tr {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .get-field div table tbody tr:nth-child(even) td {
    background-color: rgba(205, 216, 223, 0.4);
  }
}
@media screen and (max-width: 800px) {
  .get-field div table tbody tr th, .get-field div table tbody tr td {
    font-size: 0.7em !important;
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.get-field div table tbody tr th {
  color: white;
  padding: 10px 40px;
  background: #cdd8df;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .get-field div table tbody tr th {
    padding: 5px 10px;
  }
}
.get-field div table tbody tr td {
  color: gray;
  text-align: center;
  padding: 10px 40px;
  background: rgba(205, 216, 223, 0.2352941176);
  border-radius: 5px;
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .get-field div table tbody tr td {
    padding: 5px 14px;
    width: 200px;
    border-radius: 0;
  }
}
.get-field div > span {
  font-size: 1rem;
  color: gray;
}

.delete-field {
  display: flex;
}
.delete-field div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .delete-field div div {
    width: 95%;
    margin: 0 auto;
  }
}
.delete-field div div label {
  font-size: 15px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 5px;
}
.delete-field div div .input-text {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #cdd8df;
  margin-top: 5px;
  background: rgba(205, 216, 223, 0.2352941176);
  width: 40%;
}
.delete-field div div .input-text::-moz-placeholder {
  color: rgba(51, 51, 51, 0.252);
}
.delete-field div div .input-text::placeholder {
  color: rgba(51, 51, 51, 0.252);
}
@media screen and (max-width: 800px) {
  .delete-field div div .input-text {
    width: 100%;
  }
}
.delete-field div .btn-submit-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  width: 30%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background: #cdd8df;
  color: white;
  font-weight: bold;
}
.delete-field div .btn-submit-delete:hover {
  transition: 1s;
  background: #2e578b;
}
.delete-field div .btn-submit-delete:active {
  transition: 0.1s;
  background: black;
}
@media screen and (max-width: 800px) {
  .delete-field div .btn-submit-delete {
    width: 100%;
  }
}
.delete-field div .btn-submit-delete > .loader {
  color: #ffffff;
}

.search-field {
  display: flex;
}
.search-field div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .search-field div form > div {
    width: 95%;
    margin: 0 auto;
  }
}
.search-field div form > div label {
  font-size: 15px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 5px;
}
.search-field div form > div .input-text {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #cdd8df;
  margin-top: 5px;
  margin-bottom: 15px;
  background: rgba(205, 216, 223, 0.2352941176);
  width: 40%;
}
@media screen and (max-width: 800px) {
  .search-field div form > div .input-text {
    width: 100%;
  }
}
.search-field div form > div .input-text::-moz-placeholder {
  color: rgba(51, 51, 51, 0.252);
}
.search-field div form > div .input-text::placeholder {
  color: rgba(51, 51, 51, 0.252);
}
.search-field div form .btn-submit-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  width: 30%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #cdd8df;
  color: white;
  font-weight: bold;
}
.search-field div form .btn-submit-search:hover {
  transition: 1s;
  background: #2e578b;
}
.search-field div form .btn-submit-search:active {
  transition: 0.1s;
  background: black;
}
@media screen and (max-width: 800px) {
  .search-field div form .btn-submit-search {
    width: 100%;
  }
}
.search-field div form .btn-submit-search > .loader {
  color: #ffffff;
}
.search-field div table {
  width: 100%;
  margin-top: 30px;
}
.search-field div table th {
  color: white;
  padding: 10px 40px;
  background: #cdd8df;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .search-field div table th {
    padding: 5px 10px;
    font-size: 0.5em;
  }
}
.search-field div table td {
  color: gray;
  text-align: center;
  padding: 10px 40px;
  background: rgba(205, 216, 223, 0.2352941176);
  border-radius: 5px;
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .search-field div table td {
    padding: 5px 10px;
    font-size: 0.5em;
  }
}
.search-field div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(205, 216, 223, 0.2352941176);
  border: 1px solid rgba(205, 216, 223, 0.3411764706);
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: gray;
  margin-top: 20px;
}

#modal {
  background: rgba(0, 35, 70, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 99;
}
#modal > div {
  width: 50%;
  background: white;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  #modal > div {
    width: 90%;
    padding: 30px;
  }
}
#modal > div h1 {
  font-weight: normal;
  color: rgb(74, 74, 74);
  font-size: 24px;
}
#modal > div h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #cdd8df;
  margin-top: 10px;
  margin-bottom: 30px;
}
#modal > div form {
  display: flex;
  flex-direction: column;
}
#modal > div form div {
  margin-top: 15px;
}
#modal > div form div label {
  font-size: 15px;
  color: #333;
  margin-bottom: 5px;
}
#modal > div form div .input-text {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #cdd8df;
  margin-top: 5px;
  background: rgba(205, 216, 223, 0.2352941176);
  width: 100%;
}
#modal > div form div .input-text::-moz-placeholder {
  color: rgba(51, 51, 51, 0.252);
}
#modal > div form div .input-text::placeholder {
  color: rgba(51, 51, 51, 0.252);
}
#modal > div form .buttons-field {
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 10px;
}
#modal > div form .buttons-field .btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  width: 20%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background: #cdd8df;
  color: white;
  font-weight: bold;
}
#modal > div form .buttons-field .btn-submit:hover {
  transition: 1s;
  background: #2e578b;
}
#modal > div form .buttons-field .btn-submit:active {
  transition: 0.1s;
  background: black;
}
@media screen and (max-width: 800px) {
  #modal > div form .buttons-field .btn-submit {
    width: 50%;
  }
}
#modal > div form .buttons-field .btn-submit > .loader {
  color: #ffffff;
}
#modal > div form .buttons-field .btn-submit:nth-child(1):hover {
  transition: 1s;
  background: rgba(139, 46, 46, 0.7215686275);
}
#modal > div form .buttons-field .btn-submit:nth-child(2) {
  width: 30%;
}
#modal > div form .buttons-field .btn-submit:nth-child(2) > .loader {
  margin: 0;
  width: 10px;
  height: 8px;
  animation: animloader 0.9s 0.6s ease infinite alternate;
}
#modal > div form .buttons-field .btn-submit:nth-child(2) > .loader::after, #modal > div form .buttons-field .btn-submit:nth-child(2) > .loader::before {
  width: 10px;
  height: 8px;
  animation: animloader 0.6s ease infinite alternate;
}
@keyframes animloader {
  0% {
    width: 10px;
  }
  100% {
    width: 15px;
  }
}

.edit-field {
  display: flex;
}
.edit-field div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .edit-field div div {
    width: 95%;
    margin: 0 auto;
  }
}
.edit-field div div label {
  font-size: 15px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 5px;
}
.edit-field div div .input-text {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #cdd8df;
  margin-top: 5px;
  background: rgba(205, 216, 223, 0.2352941176);
  width: 40%;
}
.edit-field div div .input-text::-moz-placeholder {
  color: rgba(51, 51, 51, 0.252);
}
.edit-field div div .input-text::placeholder {
  color: rgba(51, 51, 51, 0.252);
}
@media screen and (max-width: 800px) {
  .edit-field div div .input-text {
    width: 100%;
  }
}
.edit-field div div .input-number {
  width: 20%;
}
@media screen and (max-width: 800px) {
  .edit-field div div .input-number {
    width: 100%;
  }
}
.edit-field div .btn-submit-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  width: 30%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background: #cdd8df;
  color: white;
  font-weight: bold;
}
.edit-field div .btn-submit-edit:hover {
  transition: 1s;
  background: #2e578b;
}
.edit-field div .btn-submit-edit:active {
  transition: 0.1s;
  background: black;
}
@media screen and (max-width: 800px) {
  .edit-field div .btn-submit-edit {
    width: 100%;
  }
}
.edit-field div .btn-submit-edit > .loader {
  color: #ffffff;
}

.header-section {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section .position-header-section {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .header-section .position-header-section {
    width: 90%;
  }
}
.header-section .position-header-section > div:nth-child(1) {
  display: flex;
  align-items: center;
  cursor: default;
}
.header-section .position-header-section > div:nth-child(1) svg {
  width: 30px;
}
.header-section .position-header-section > div:nth-child(1) p {
  margin-left: 7px;
  font-weight: bold;
  color: #333;
  letter-spacing: 5px;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 800px) {
  .header-section .position-header-section > div:nth-child(1) {
    display: none;
  }
}
.header-section .position-header-section > div:nth-child(2) {
  width: 20%;
}
@media screen and (max-width: 800px) {
  .header-section .position-header-section > div:nth-child(2) {
    width: auto;
  }
}
.header-section .position-header-section > div:nth-child(2) details {
  cursor: pointer;
}
.header-section .position-header-section > div:nth-child(2) details[open] summary::before {
  content: url("https://i.postimg.cc/7YnH7BrW/seta-aberta.png");
}
.header-section .position-header-section > div:nth-child(2) details summary {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header-section .position-header-section > div:nth-child(2) details summary span {
  color: #4480c5;
  margin-left: 5px;
  font-size: 1.5rem;
  margin-bottom: 2px;
  font-variant: all-petite-caps;
}
.header-section .position-header-section > div:nth-child(2) details summary::before {
  content: url("https://i.postimg.cc/0NJhGQJy/seta-fechada.png");
  margin-right: 15px;
}
.header-section .position-header-section > div:nth-child(2) details div {
  background: white;
  position: absolute;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.4);
}
.header-section .position-header-section > div:nth-child(2) details div a {
  padding: 5px;
  color: #4480c5;
  letter-spacing: 1px;
  text-decoration: none;
}
.header-section .position-header-section > div:nth-child(2) details div a:hover {
  transition: 1s;
  color: #333;
  text-decoration: underline;
}

.field-notfound {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field-notfound h1:nth-child(1) {
  font-size: 5rem;
  margin-bottom: 10px;
}
.field-notfound h1:nth-child(2) {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.field-notfound h1:nth-child(2) span {
  color: #0092e1;
}
.field-notfound p:nth-child(3) {
  margin-top: 10px;
  font-size: 1rem;
}
.field-notfound p:nth-child(4) {
  margin-top: 5px;
  font-size: 1.1rem;
  color: #1456ac;
}

.toggle-menu {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 998;
  margin-left: 20px;
}
@media only screen and (max-width: 800px) {
  .toggle-menu {
    display: flex;
  }
}
.toggle-menu .toggle-menu-item {
  width: 30px;
  height: 3.7px;
  background: #333;
  transition: all 0.5s ease-in-out;
}
.toggle-menu .toggle-menu-item::before, .toggle-menu .toggle-menu-item::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3.7px;
  background: #333;
  transition: all 0.5s ease-in-out;
}
.toggle-menu .toggle-menu-item::before {
  transform: translateY(-8px);
}
.toggle-menu .toggle-menu-item::after {
  transform: translateY(8px);
}

.active .toggle-menu-item {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.active .toggle-menu-item::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.active .toggle-menu-item::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.loader-field .loader {
  margin-left: 55px;
}

.loader {
  width: 20px;
  height: 12px;
  display: block;
  position: relative;
  border-radius: 4px;
  color: #cdd8df;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.9s 0.6s ease infinite alternate;
}
.loader::after, .loader::before {
  content: "";
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader 0.6s ease infinite alternate;
}
.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}/*# sourceMappingURL=globals.css.map */